{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
  <div class="text-center mb-4">
    <h2 class="text-primary">Painel de Controle</h2>
    <p class="text-muted">Gerencie suas rifas ou participe de novas!</p>
  </div>

  <div class="row justify-content-center g-3">
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'core:create_raffle' %}" class="btn btn-outline-primary w-100 py-3">
       <span>➕</span><span>Criar Nova Rifa</span>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'core:list_raffles' %}" class="btn btn-outline-success w-100 py-3">
		<span>🎯</span><span>Ver Todas as Rifas</span>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'core:list_user_raffles' %}" class="btn btn-outline-info w-100 py-3">
		<span>👤</span><span>Minhas Rifas</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
