{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 text-center">
  <img src="{% static 'icons/icon-192x192.png' %}" class="mb-3" style="width: 168px; height: auto;" alt="Logo Tô Rifando">
  <h3 class="fw-semibold">Uma Tempestade de Sorte pra Você!</h3>
  <p class="lead">Participe, torça e ganhe. Aqui a sorte é sua aliada!</p>
  {% include 'core/list_raffles.html' %}
  <hr class="my-4">
  <div style="margin-bottom:37px">
  {% if user.is_authenticated %}
    <a class="btn btn-success btn-lg" href="{% url 'core:dashboard' %}">Ir para o Painel</a>
  {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'core:sign_in' %}">Entrar</a>
  {% endif %}
  </div>
</div>

<script>
  const installBtn = document.createElement("button");
  installBtn.innerText = "📲 Adicione Tô Rifando na sua tela!";
  installBtn.style = "margin-top:53px;position:fixed;bottom:20px;left:20px;padding:10px 20px;background:#28a745;color:white;border:none;border-radius:5px;z-index:9999;";
  installBtn.hidden = true;

  window.addEventListener("beforeinstallprompt", (e) => {
    e.preventDefault();
    deferredPrompt = e;
    document.body.appendChild(installBtn);
    installBtn.hidden = false;

    installBtn.addEventListener("click", async () => {
      installBtn.hidden = true;
      deferredPrompt.prompt();
      const { outcome } = await deferredPrompt.userChoice;
      if (outcome === "accepted") {
        console.log("Usuário adicionou à tela inicial");
      } else {
        console.log("Usuário recusou");
      }
      deferredPrompt = null;
    });
  });
</script>
{% endblock %}

