<!DOCTYPE html>
<html>
<head><title>My Raffles</title></head>
<body>
    <h2>My Raffles</h2>
	<div>
	<div>
	<ul>
		{% for raffle in raffles %}
		    <li>
		        <strong>{{ raffle.title }}</strong>
				<br />- Total of tickets: {{ raffle.total_tickets }}
				<br />- Total availables: Not implemented
				<br />- Tickect price: {{ raffle.ticket_price }}
				<br />- Draw: {{ raffle.draw_date }}
				<br />- Status: {{ raffle.status }}
		        {% if raffle.status == "draft" %}
		            <br /><a href="{% url 'core:publish_raffle' raffle.id %}">[ Publish ]</a>
		        {% elif raffle.status == "published" %}
		            <br /><a href="{% url 'core:purchase_tickets' raffle.id %}">[ Buy Tickets ]</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<a href="{% url 'core:draw_raffle' raffle.id %}">[ Run Draw ]</a>
		        {% endif %}
		    </li>
		{% empty %}
		    <li>No raffles created yet.</li>
		{% endfor %}
		</ul>
	</div>
	<div>
    <span><a href="{% url 'core:create_raffle' %}">[ Create new raffle ]</a></span>
    <span><a href="{% url 'core:dashboard' %}">[ Back to Dashboard ]</a></span>
	</div>
	</div>
</body>
</html>
