<html>
	<head>
	    <title>Purchase Tickets</title>
	</head>
	<body style="font-family:Sans;background-color:#330000 !important;text-align:center;color:#ffffff">
		{% block content %}
		<h2>Raffle {{ raffle.title }}<br />Purchase your tickets</h2>
		<div>
			<div>
				{% if messages %}
				<ul>
				  {% for message in messages %}
				    <li>{{ message }}</li>
				  {% endfor %}
				</ul>
				{% endif %}
				</div>
			<div>
				<form method="post">
					{% csrf_token %}
					{% if raffle.status == "published" %}
					{{ form.as_p }}
					{% endif %}
					<button type="submit">Buy Tickets</button>
				</form>
			</div>
			<div>
				<a href="{% url 'core:list_raffles' %}">[ Back to list ]</a>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
